<!doctype html>

<html lang="en"	xmlns:th="www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">

<head>

	<meta charset="UTF-8" />

	<title>About Us</title>

</head>

<body>

	<section class="hero">

		<link rel="stylesheet" th:href="@{/css/aboutus.css}" />

		<div class="heading">

			<h1>About Us</h1>

		</div>

		<div class="container">

			<div class="hero-content">

				<h2>Welcome to our website</h2>

				<p>We, a team of 4 members [Anant Bhat,Anusha Achari,Navya Hebbar,Suhas Shetti] final year diploma students at Shree Vidyadhiraj Polytechnic, embarked on a mission to develop Student Database Management System along with the guidance of our cohort Shree Dinesh Balgi. This innovative solution aims to revolutionize the way educational institutions manage student information, offering efficiency, accessibility, and enhanced data security.
				</p>
				
				
				<button id="read-more" class="cta-button">Read More</button>

			</div>

			<div class="hero-image">

				<img class="abt" src="/img/abt.webp" alt="abt-logo" />

			</div>

		</div>
		

	</section>
	
	

</body>

</html>