<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Student Deatils Edit</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-6" offset-md-3>
					<div class="card">
						<div class="card-header" text-center>
							<p class="fs-4">Edit Student Details</p>

							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-4">
									[[${session.msg}]]
								</p>
								<th:block th:text="${@studServiceImp1.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">

							<form action="/updateStudDtls" method="post">
								<input type="hidden" name="id" th:value="${stud.id}" />
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Register Number</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="regnum"
										aria-describedby="emailHelp" th:value="${stud.regnum}">

								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Student's Name</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="name"
										th:value="${stud.name}">
								</div>


								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Date Of Birth</label>
									<input type="date" class="form-control" id="exampleInputPassword1" name="dob"
										th:value="${stud.dob}">
								</div>


								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Gender</label>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender"
											th:attrappend="checked=${stud.gender=='Male' ? 'checked' : ''}"
											id="inlineRadio1" value="Male">
										<label class="form-check-label" for="inlineRadio1">Male</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender"
											th:attrappend="checked=${stud.gender=='Female' ? 'checked' : ''}"
											id="inlineRadio2" value="Female">
										<label class="form-check-label" for="inlineRadio2">Female</label>
									</div>


								</div>


								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Student's Email</label>
									<input type="email" class="form-control" id="exampleInputPassword1" name="email"
										th:value="${stud.email}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Student's Contact
										Number</label>
									<input type="tel" class="form-control" id="exampleInputPassword1" name="snum"
										th:value="${stud.snum}">
								</div>


								<div class="mb-3">
									<label for="class">Class</label>
									<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
										name="sclass">
										<option selected th:selected="${stud.sclass == '1'}">1st Sem</option>
										<option value="2" th:selected="${stud.sclass == '2'}">2nd Sem</option>
										<option value="3" th:selected="${stud.sclass == '3'}">3rd Sem</option>
										<option value="4" th:selected="${stud.sclass == '4'}">4th Sem</option>
										<option value="5" th:selected="${stud.sclass == '5'}">5th Sem</option>
										<option value="6" th:selected="${stud.sclass == '6'}">6th Sem</option>
									</select>

									<label for="branch">Branch</label>
									<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
										name="branch">
										<option selected th:selected="${stud.branch == 'CS'}">Computer Science &
											Engineering</option>
										<option value="ME" th:selected="${stud.branch == 'ME'}">Mechanical Engineering
										</option>
										<option value="EC" th:selected="${stud.branch == 'EC'}">Electronics &
											Communication Engineering</option>
										<option value="AU" th:selected="${stud.branch == 'AU'}">Automobile Engineering
										</option>
										<option value="CE" th:selected="${stud.branch == 'CE'}">Civil Engineering
										</option>
									</select>
								</div>



								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Address</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="address"
										th:value="${stud.address}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Father's Name</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="fname"
										th:value="${stud.fname}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Mother's Name</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="mname"
										th:value="${stud.mname}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Father's Occupation</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="focc"
										th:value="${stud.focc}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Mother's Occupation</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="mocc"
										th:value="${stud.mocc}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Parent's Email</label>
									<input type="email" class="form-control" id="exampleInputPassword1" name="pemail"
										th:value="${stud.pemail}">
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Parent's Contact
										Number</label>
									<input type="tel" class="form-control" id="exampleInputPassword1" name="pnum"
										th:value="${stud.pnum}">
								</div>


								<button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>


							</form>





						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>