<!doctype html>
<html lang="en" th:replace="~{base::layout(~{::title}, ~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Home Page Design</title>
</head>

<body>
	<section class="home" id="home">
		<link rel="stylesheet" th:href="@{/css/home.css}" />
		<div class="content">
			<h3>Streamline Student Data. Focus on What Matters</h3>
			<p>Manage student details like student entry , marks, attendence online</p>
			
			 <a href="/report" class="report-button" style="font-weight: bolder;">Report Generation</a>
		</div>


		<div class="box-container">
			
			<div class="box">
				<a href="/loadStudSave"><img src="/img/s-form.png" alt="Add student form" /></a>
				<h3>ADD STUDENT</h3>
				<p>Allows teachers to add new students which saves
					your time & ensures class lists are always up-to-date.</p>
			</div>
			
			<div class="box">
				<a href="/attendance_view/new"><img src="/img/attendance.png" alt="attendance" /></a>
				<h3>ADD STUDENT ATTENDANCE</h3>
				<p>Empowers teachers to easily add student attendance through our user-friendly forms</p>
			</div>
			
			<div class="box">
				<a href="/marks_view/new"><img src="/img/ma-form.png" alt="Add Marks" /></a>
				<h3>ADD STUDENT MARKS</h3>
				<p>Record student marks directly within the system, saves your valuable time and reduces paperwork</p>
			</div>
			
			
			
		</div>

	</section>


</body>

</html>