<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Student Details Page</title>

</head>

<body>
	<section>

		<div class="container p-5">
			<div class="row">
				<div class="col-md-80" offset-md-2>
					<div class="card">
						<div class="card-header text-center fs-4">Student Deatils</div>

						<th:block th:if="${session.msg}">
							<p class="text-center text-success fs-4">
								[[${session.msg}]]
							</p>
							<th:block th:text="${@studServiceImp1.removeSessionMessage()}"></th:block>
						</th:block>


						<div class="card-body">

							<div class="text-center">
							<form th:action="@{/editStud}" method="get"> 
								<input id="txtSearch" type="text" name="keyword" placeholder="Serach By Name" /> 
								
									<button type="submit">SEARCH</button>
							</form>
							</div>
							<br>

						

							<table class="table">
								<thead class="table-dark">
									<tr>
										<th scope="col">ID</th>
										<th scope="col">REGISTER NO</th>
										<th scope="col">NAME</th>
										<th scope="col">DOB</th>
										<th scope="col">GENDER</th>

										<th scope="col">PH NO</th>
										<th scope="col">CLASS</th>
										<th scope="col">BRANCH</th>
										<th scope="col">ACTION</th>



									</tr>
								</thead>
								<tbody>
									<tr th:each="s,c:${studList}">
										<th scope="row">[[${c.count}]]</th>
										<td>[[${s.regnum}]]</td>
										<td>[[${s.name}]]</td>
										<td>[[${s.dob}]]</td>
										<td>[[${s.gender}]]</td>

										<td>[[${s.snum}]]</td>
										<td>[[${s.sclass}]]</td>
										<td>[[${s.branch}]]</td>
										<td>

											<a th:href="@{'editStud/' +${s.id}}" class="btn btn-sm btn-primary">Edit</a>
											<a th:href="@{'deleteStud/' +${s.id}}"
												class="btn btn-sm btn-danger" onclick="confirmDelete(event)">Delete</a>
										</td>

									</tr>

								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
    function confirmDelete(event) {
        event.preventDefault(); // Prevent the default action of the link

        if (confirm("Are you sure you want to delete student's data?")) {
            // If the user clicks "Yes", proceed with the deletion
            window.location.href = event.target.getAttribute('href');
        } else {
            // If the user clicks "No" or cancels, do nothing
            return false;
        }
    }
</script>
	</section>
</body>


</html>